body{




}
.wrapper{
    padding:30px;
/*    background-image:url(images/water-1330252_960_720.jpg);*/
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.wrapper-sec{
    padding:30px;
/*    background-image:url(images/sec.jpg);*/
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.wrapper-third{
    padding:30px;
/*    background-image:url(images/images.jpg);*/
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.img-box{
    display: flex;
    justify-content: space-between;
    
}
.text{
    align-self: center;
}
.area3{
    display: flex;
    flex-direction: column;
    
}
.area-p-area-third{
    flex:1;
    align-self: center;
}
.area-title-third{
    flex: 1;
    align-self: center;
}